/* ----------------
Standard Style
---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "poppins", sans-serif; */
}

::selection {
    background-color: black;
    color: #fff;
}

::-moz-selection {
    color: black;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

li {
    list-style: none;
}

/* ----------------
Navbar Style
---------------- */

header {
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0); */
    background-color: #333;
    padding: 25px;
    top: 0;
    z-index: 999;
    position: absolute;
    left: 0;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    /* padding: 15px 200px; */
    transition: 0.5s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: baseline;
}

.logo-nav-link {
    text-decoration: none;
}

.logo-nav {
    color: #fff;
    margin-left: 25px;
    font-family: Felix Titling;
    font-size: 28px;
    letter-spacing: 1px;
}

.navbar-list {
    gap: 40px;
    display: flex;
    justify-content: baseline;
    margin-left: -100px;
}

.navbar-link {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-size: 18px;
    transition: 0.3s ease;
    font-weight: 500;
}

.navbar-link:active::before {
    width: 100%;
}

.navbar-link::before {
    content: '';
    position: absolute;
    /* background: #1D425D; */
    background: #fff;
    /* background: blue; */
    width: 0;
    height: 3px;
    bottom: -2;
    left: 0;
    transition: 0.3s ease;
}

.navbar-link:hover::before {
    /* transition: 0.2s ease; */
    /* font-weight: 500; */
    width: 100%;
}

#navbar-home-link {
    font-weight: 500;
}

.navbar-icons-list {
    display: flex;
    justify-content: baseline;
    gap: 20px;
    flex-direction: row;
    margin-right: 30px;
}

.navbar-icon {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

/* =====================
------------------
Responsive Style
------------------
===================== */

@media (min-width: 1040px) {
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 1040px) {
    .navbar-list,
    .navbar-icons-list {
        display: none;
    }

    #user-profile {
        background-color: #fff;
        color: #000;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        /*left: 0 !important;*/
        right: 0 !important;
    }

    .menu__btn {
        position: absolute;
        /* position: fixed; */
        top: 40px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        /*left: -100;*/
        right: -400px;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0px;
        list-style: none;
        /*background-color: #ECEFF1;*/
        /*background-color: rgba(0, 0, 0, 0.85);*/
        background-color: #000000cc;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #646464be;
        /*background-color: rgba(73, 71, 71, 0.933);*/
        text-decoration: none;
        color: #fff;
    }
}